body,html{
	background-image: url("../images/trivia-spin.gif");
	background-position: center;
	height: 100%;
	background-image: no-repeat;
}
header{
	background-image: url("../images/trivia12.jpg");
	border-style: solid;
	border-color: black;
	border-width: 10px;
	margin-top: 50px;
	background-position: center;
}
h1{
	color: Blue;
	font-size: 50px;
    text-align: center;
}
.btn-primary {
	color: white;
	font-size: 50px;
}
img{
	width: 150px;
	height: 150px;
}
#ques{
	color: white;
	font-size: 30px;
}

ol,li{
	color: white;
	font-size: 20px;
}
#ans{
	text-align: center;
}
/*for button*/
.btn-primary{
  margin-top: 40px;
}
/*Setting the background*/
.jumbotron{
	background-image: url("../images/Map.png");
	background-position: center;
	background-size: 780px ;
}
/*color for timer*/
h2{
	color: white;
}
/*color for final screen containing number of wrong and right answers*/
h3{
	color: white;
}
#reset{
	margin-left: 100px;
}
.container-fluid{
	background-image: url("../images/trivia12.jpg");
	background-size: 350px 150px;
}
.mainArea{
	border-style: solid;
	border-color: black;
	background-image: url("../images/country.gif");
	margin-top: 10px;
	width:55%;
	margin-left: 250px;
	text-align: center;
	height: 270px;
	background-image: no-repeat;
	background-position: center;
}
.container1{
	background-image: url("../images/Quiz.jpg");
	background-color: yellow;
	border-style: solid;
	border-color: black;
	border-width: 10px;
	margin-top: 10px;
	width:55%;
	margin-left: 250px;
	background-image: no-repeat;
	background-position: center;
	padding: 50px;
	/*background-size: 100%;*/
}